#first {
  font-family: "Copperplate", serif;
  color: blue;
}

.second {
  font-family: "Times new roman", cursive;
  color: darkorange;
    border: 1px solid black;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 80px;
  margin-left: 80px;
  background-color: lightblue;
}

.third {
  height: 200%;
  width: 40%;
  border: 30px solid red;
}